@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}

#bingo-token {
    height: 70vh;
    font-size: 50vh;
}

#bingo-token-info {
    font-size: 5vh;
}

.info {
    display: block;
}

.english {
    font-family: 'Titillium Web', sans-serif;
}

#options {
    position: absolute;
    top: 10px;
    left: 10px;
}


/* Menu */

#options {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

.btns {
    display: flex;
    gap: 0.4rem;
    width: 100%;
}

.btns button {
    font-family: 'Titillium Web', sans-serif;
    padding: 6px 16px;
    border: 1px dashed #b1b1b1;
    border-radius: 100px;
    color: #e3e3e3;
    background-color: #313131;
    transition: 300ms;
}

.btns button:nth-child(1) {
    font-weight: 600;
    width: 9.6rem;
    border: 1px dashed #373737;
    color: #313131d9;
    background-color: #b1b1b1;
}

.btns button:nth-child(2) {
    width: 6rem;
}

.select {
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
    width: 16rem;
}

.select select {
    display: inline-block;
    width: 100%;
    cursor: pointer;
    padding: 8px 14px;
    outline: 0;
    border: 1px dashed #b1b1b1;
    border-radius: 100px;
    background: #313131;
    color: #e3e3e3;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    transition: 300ms;
}

option {
    transition: 300ms;
}

.select_arrow {
    position: absolute;
    top: 11px;
    right: 18px;
    border: solid #f9f9f9;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.select select::-ms-expand {
    display: none;
}

.select select:hover,
.select select:focus {
    color: #313131;
    background: #e3e3e3;
}

.select select:disabled {
    opacity: 1;
    pointer-events: none;
}

.select select:hover~.select_arrow,
.select select:focus~.select_arrow {
    border-color: #000000;
}

.select select:disabled~.select_arrow {
    border-top-color: #cccccc;
}

.btns button:nth-child(1):hover {
    cursor: pointer;
    background-color: #313131;
    color: #e3e3e3;
}

.btns button:nth-child(2):hover {
    cursor: pointer;
    color: #313131;
    background-color: #e3e3e3;
}

.btns button:nth-child(1):active {
    cursor: pointer;
    background-color: #313131;
    color: #e3e3e3;
    transition: 50ms;
    transform: scale(1.05);
}

.btns button:nth-child(2):active {
    cursor: pointer;
    color: #313131;
    background-color: #e3e3e3;
    transition: 50ms;
    transform: scale(1.05);
}